@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@layer base {
  html {
    @apply font-normal;
    @apply bg-[#fff];
  }
  li {
    @apply mx-3;
    @apply cursor-pointer;
    @apply border-none;
  }  
}
* {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
   user-select: none;
   -webkit-tap-highlight-color: transparent; /* transparent with keyword */
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* transparent with rgba */
    -webkit-tap-highlight-color: hsla(0,0,0,0); /* transparent with hsla */
  -webkit-tap-highlight-color: #00000000; /* transparent with hex with alpha */
  -webkit-tap-highlight-color: #0000; /* transparent with short hex with alpha */
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Poppins, Sans Serif;
}
#nav-menu a {
  position: relative;
  padding: 0;
  letter-spacing:1px;
  font-weight:500;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  outline:none;
}
#nav-menu a:hover,
#nav-menu a:focus,
#nav-menu a.active{
  color:#fb9c31;
}
.light-bg {
  background:#f4f5fa
}
.light-font {  
  color:#fafafa;
}
a.social-nav {
  padding:0px 10px;
}
.content-links a{
  display:inline-flex;
  letter-spacing:1px;
}
.content-links a:hover {
  text-decoration: underline;
}
.home-btn {
    border-radius: 50px;
    padding: 12px 40px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
#tech img {
  max-width:80px;
  margin:0 auto;
}
.email-link:hover .popup {
  display: block;
  position: absolute;
  top: 100%;
  right: 0;
  background: #26293a;
  padding: 6px;
  border-bottom-left-radius:4px;
}
.item {
  position:relative;
  background-color:#26293a;
  border-radius: 4px;
  padding:20px 30px;
  margin:0 auto;
  text-align:center;
}
.item span {
  display:block;  
  margin-top:10px;
  color: #fff;
}